section[data-desktop-start] {
  grid-column: 1 / -1;
  aspect-ratio: unset;
}

@media (min-width: 1024px) {
  section[data-desktop-start] {
    grid-column-start: var(--desktop-start);
    grid-column-end: span var(--desktop-span);
    aspect-ratio: var(--aspect-width) / var(--aspect-height);
  }
}
