---
import type { z } from "astro:content";

import type { caseImageFullBlock } from "@/content/config";

type CaseImageFullBlock = z.infer<typeof caseImageFullBlock>;

interface Props {
  block: CaseImageFullBlock;
}

const { block } = Astro.props;
console.log(block);
---

<div>Case Image Full Block</div>
