---
import type { z } from "astro:content";

import type { caseTitleBlock } from "@/content/config";

type CaseTitleBlock = z.infer<typeof caseTitleBlock>;

interface Props {
  block: CaseTitleBlock;
}

const { block } = Astro.props;
---

<section>
  <h1 class="text-4xl">{block.title}</h1>
  <sub class="text-xl">{block.subHeading}</sub>
</section>
