---
import ImageWrapper from "@components/astro/util/ImageWrapper.astro";
import type { z } from "astro:content";

import type { caseImageTextFullBlock } from "@/content/config";

type CaseImageTextFullBlock = z.infer<typeof caseImageTextFullBlock>;

interface Props {
  block: CaseImageTextFullBlock;
}

const { block } = Astro.props;
const { image, text, textRight } = block;
console.log(textRight);
---

<ImageWrapper src={image.image} altText={image.alt} />
<p>{text}</p>
