---
import ImageWrapper from "@components/astro/util/ImageWrapper.astro";
import type { z } from "astro:content";

import type { caseImageTextBlock } from "@/content/config";

type CaseImageTextBlock = z.infer<typeof caseImageTextBlock>;

interface Props {
  block: CaseImageTextBlock;
}

const { block } = Astro.props;
const { image, text, textRight } = block;
console.log(textRight);
---

<ImageWrapper src={image.image} altText={image.alt} />
<p>{text}</p>
