---
import type { z } from "astro:content";

import type { caseVideoBlock } from "@/content/config";
import { cn } from "@/utils/cn";

import VideoWrapper from "../util/VideoWrapper.astro";

type CaseVideoBlock = z.infer<typeof caseVideoBlock>;

interface Props {
  block: CaseVideoBlock;
  loading: string;
  className?: string;
}

const { block, loading, className = "" } = Astro.props;
---

<div class={cn(className, "w-1/2")}>
  <VideoWrapper src={block.video} loading={loading} />
</div>
