---
import type { z } from "astro:content";

import type { caseVideoBlock } from "@/content/config";

type CaseVideoBlock = z.infer<typeof caseVideoBlock>;

interface Props {
  block: CaseVideoBlock;
}

const { block } = Astro.props;
console.log(block);
---

<div>Case Video Block</div>
