# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

backup.pages.yml
manifest.json

src/placeholder

.sonda
.wrangler

# Documentation and migration files
/docs/
.rules

src/content_backup

r3f
react
Carousel.astro
carousel.ts
shaders
gradients.ts

/admin-dashboard/delete-videos.bash
/admin-dashboard/delte-images.bash
