---
import { getAspectPercantage } from "@/utils/aspectRatio";
import { getMedia, getVideoPlayerUrl } from "@/utils/media";

interface Props {
  src: string;
  loading: string;
}

const { src, loading } = Astro.props;

const mediaEntry = getMedia(src);
const video = getVideoPlayerUrl(mediaEntry.id);

const loadingOrder =
  loading === "lazy" || loading === "eager" ? loading : "lazy";

const paddingTopPercent =
  mediaEntry.width && mediaEntry.height
    ? getAspectPercantage(mediaEntry.width, mediaEntry.height)
    : 56.25;
---

<div style=`position: relative; padding-top: ${paddingTopPercent.toFixed(2)}%`>
  <iframe
    title={mediaEntry.id}
    src={video}
    style="border: none; position: absolute; top: 0; height: 100%; width: 100%"
    allow="autoplay;"
    allowfullscreen="false"
    loading={loadingOrder}></iframe>
</div>
