---
import { getRelativeLocaleUrl } from "astro:i18n";

import ImageWrapper from "./ImageWrapper.astro";

interface Props {
  imagePath: string;
  altText: string;
  title: string;
  slug: string;
}

const {
  imagePath,
  altText = "Preview for client case",
  title,
  slug,
} = Astro.props;

const lang = Astro.currentLocale ?? "en";
---

<a href={getRelativeLocaleUrl(lang, slug)}>
  <h2>{title}</h2>
  <ImageWrapper
    src={imagePath}
    altText={`Highlight of a project done with ${altText}`}
  />
</a>
