---
import ImageWrapper from "@components/astro/util/ImageWrapper.astro";
import { type z } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

import { caseSchema } from "@/content/config";

type CasePreview = z.infer<typeof caseSchema.shape.casePreview>;

interface Props extends CasePreview {
  slug: string;
}

const { previewImage, title, slug } = Astro.props;

const lang = Astro.currentLocale ?? "en";
---

<a href={getRelativeLocaleUrl(lang, slug)}>
  <h2>{title}</h2>
  <ImageWrapper src={previewImage.image} altText={previewImage.alt} />
</a>
