---
import {
  type CasePaths,
  extractSlugsFromPaths,
  resolveCasePreview,
} from "@/utils/collections.ts";

import CasePreviewCard from "./CasePreviewCard.astro";

interface Props {
  cases: CasePaths;
}
const { cases } = Astro.props;

const caseSlugs = extractSlugsFromPaths(cases);
const resolvedCasePreview = await resolveCasePreview(caseSlugs);
---

<section>
  {
    resolvedCasePreview.map((preview) => {
      const { slug, casePreview } = preview.data;
      const { title, previewImage } = casePreview;
      return (
        <CasePreviewCard
          imagePath={previewImage}
          altText={title}
          title={title}
          slug={slug}
        />
      );
    })
  }
</section>
