---
import { type z } from "astro:content";

import { landingPageSchema } from "@/content/config";

type Hero = z.infer<typeof landingPageSchema.shape.hero>;

interface Props {
  hero: Hero;
}

const { hero } = Astro.props;
---

<header>
  <h1>{hero.headline}</h1>
</header>
