---
import { type z } from "astro:content";

import { servicesSchema } from "@/content/config";

import ImageWrapper from "./ImageWrapper.astro";

type Props = z.infer<typeof servicesSchema.element>;

const { title, body, icon } = Astro.props;
---

<div>
  <div>
    <ImageWrapper src={icon.iconLogo.image} altText="Services Logo" />
  </div>
  <h2>{title}</h2>
  <p>{body}</p>
</div>
