@import "tailwindcss";

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 200 400;
  font-display: swap;
  src: url("/fonts/ArialRegular.woff") format("woff");
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 200 400;
  font-display: swap;
  src: url("/fonts/ArialItalic.woff") format("woff");
}

@theme static {
  /* Colors */
  --color-branding: #f5f5b8;
  --color-development: #9b5348;
  --color-design: #b3e8c2;
}

@theme {
  /* Typo */
  --font-sans: Arial, "sans-serif";
  --text-largest: 3.5rem;
  --text-largerer: 3rem;
  --text-larger: 2.175rem;
  --text-large: 1.875rem;
  --text-big: 1.4rem;
  --text-medium: 1.35rem;
  --text-normal: 1rem;

  /* Tracking & Leading */
  /* Desktop */
  --tracking-heading-desktop: -0.015em;
  --leading-heading-desktop: 1;

  --tracking-text-desktop: 0.0125em;
  --leading-text-desktop: 1.2;

  /* Mobile */
  --tracking-heading-mobile: -0.01em;
  --leading-heading-mobile: 1.075;

  --tracking-text-mobile: -0.05em;
  --leading-text-mobile: 1.225;

  /* CasePreview */
  --tracking-case-mobile: -0.04rem;
  --leading-case-mobile: 1.225;

  --tracking-case-desktop: -0.03rem;
  --leading-case-desktop: 1.125;

  /* --leading- */

  /* Spacing */
  --spacing-huge: 24rem; /* Potentially not needed */
  --spacing-biggest: 16rem;
  --spacing-bigger: 8rem;
  --spacing-big: 15rem;
  --spacing-sub: 1.125rem;

  --spacing-page-mobile: 0.625rem;
  --spacing-page-laptop: 1.5rem;
  --spacing-page-desktop: 1.75rem;

  /* Aspect Ratio */
  /* --aspect-block: 16 / 9; */

  /* Radius */
  --radius-nav: 2.875rem;
  --radius-media: 1.5rem;

  /* Effects */
  --shadow-nav: 2px 2px 6px rgb(0 0 0 / 0.4);
}

@layer components {
  /* Highlighted Keywords Landingpage */
  .keyword {
    text-decoration: underline;
    font-style: italic;
    @apply inline-block transition-all duration-200 will-change-auto hover:rotate-1 hover:scale-[99.5%];
  }

  .keyword-active {
    text-decoration: underline;
    text-decoration-color: rgba(0 0 0 / 0.4);
    font-style: italic;
  }

  /* Language Selection */
  .inactive-lang {
    @apply block!;
  }
  @media (width >= 48rem) {
    .inactive-lang svg {
      fill-opacity: 0.65;
      scale: 0.9;
      transition-property: all;

      transition-duration: 200ms;
      transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    }
  }

  ::not.inactive-lang svg {
    fill-opacity: 1;
    scale: 1;
  }

  /* Padding Utils */
  .padding-nav-item {
    @apply px-2.5 py-0.5 md:px-3 md:py-1;
  }

  .padding-background {
    @apply md:py-sub px-4 py-2 md:px-8;
  }
  .padding-background-half {
    @apply md:py-2.25 px-2 py-1 md:px-4;
  }

  /* Page Padding */
  .page-spacing {
    @apply p-page-mobile md:p-page-laptop xl:p-page-desktop pb-0!;
  }

  .page-spacing-neg-margins {
    @apply -mx-page-mobile md:-mx-page-laptop xl:-mx-page-desktop;
  }

  /* Typo */
  /* Case Page */
  /* Title Block */
  .block-title-typo {
    & h1 {
      /*Font Sizes*/
      @apply text-large md:text-largerer xl:text-largest;
      /* Font Spacing */
      @apply tracking-heading-mobile leading-heading-mobile md:leading-heading-desktop md:tracking-heading-desktop;
    }
    & p {
      /*Font Sizes*/
      @apply text-normal md:text-medium xl:text-big;
      /* Font Spacing */
      @apply tracking-text-mobile leading-text-mobile xl:tracking-text-desktop xl:leading-text-desktop;
    }
  }

  .block-text-typo {
    & p {
      @apply text-normal;
      /* Font Spacing */
      @apply tracking-text-mobile leading-text-mobile xl:tracking-text-desktop xl:leading-text-desktop;
    }
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main-full-bleed-bg {
  position: relative; /* Already on main, but ensure it's set */
}

.main-full-bleed-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  z-index: -1;
  /*background: white;*/
  /*@apply bg-gray-100;*/
  transform: translateX(-50%);
  pointer-events: none;
}

section[data-desktop-start] {
  grid-column: 1 / -1;
  aspect-ratio: unset;
}

@media (min-width: 768px) {
  section[data-desktop-start] {
    grid-column-start: var(--desktop-start);
    grid-column-end: span var(--desktop-span);
    aspect-ratio: var(--aspect-width) / var(--aspect-height);
  }
}

.hide-me {
  /*transform: translateY(0);*/
  /*transition: all 200ms cubic-bezier(0.47, 0.28, 0.56, 0.4);*/
  transition: all 200ms ease-in-out;
  transform: translateY(0);
  /*transition: transform 2000ms ease-in;
  transition: opacity 150ms ease-out;*/
}

.hide-me.hide {
  opacity: 0;
  transform: translateY(-30%);
  /*transition: opacity 0.8s ease;*/
}

.hide-me.scroll-up {
  opacity: 1; /* Visible when scrolling up */
  transform: translateY(0);
}

pre {
  font-family: inherit;
}
