@import "tailwindcss";

@theme {
  /* Colors */
  --color-blue: #425e6b;
  --color-green: #618667;
  --color-red: #9a2b5a;

  /* Typo */
  --font-sans: "Arial", "sans-serif";
  --text-largest: 3rem;
  --text-large: 1.875rem;
  --text-big: 1.5rem;
  --text-medium: 1.125rem;
  --text-base: 1rem;

  /* Spacing */
  --spacing-big: 4rem;
  --spacing-sub: 1.125rem;
  --spacing-gradient-y: --spacing-gradient-x: ;
}

@layer components {
  .keyword {
    text-decoration: underline;
    font-style: italic;
  }
  .gradient-background {
    @apply px-[2.5rem];
    @apply py-[1.5rem];
    @apply md:px-[5rem];
    @apply md:py-[2.75rem];
  }
}

html {
  @apply tracking-[1%];
}

h1 {
  @apply md:tracking-[2%];
  @apply leading-9;
  @apply md:leading-13;
  font-weight: lighter;
}

h1 + p {
  @apply leading-5;
  @apply md:leading-8;
  @apply mt-sub;
}

p {
  @apply leading-5;
  @apply md:leading-8;
}
