---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import BlockRenderer from "@/components/astro/BlockRenderer.astro";
import ImageWrapper from "@/components/astro/util/ImageWrapper.astro";
import Layout from "@/layouts/Layout.astro";
import { type CaseEntry } from "@/pages/en/[caseSlug]/index.astro";

export const getStaticPaths = (async () => {
  const cases = await getCollection("cases", (entry) =>
    entry.id.endsWith(".de"),
  );
  const paths = cases.map((caseEntry) => {
    const { slug, lang } = caseEntry.data;
    return {
      params: {
        lang,
        caseSlug: slug.replace("/", ""),
      },
      props: {
        caseEntry: caseEntry.data,
      },
    };
  });
  return paths;
}) satisfies GetStaticPaths;

interface Props {
  caseEntry: CaseEntry;
}

const { caseEntry } = Astro.props;
const { client, blocks, casePreview } = caseEntry;
---

<Layout>
  <main>
    <ImageWrapper src={casePreview.previewImage.image} altText={client} />
    {
      blocks.map((block, index) => {
        return <BlockRenderer block={block} index={index} />;
      })
    }
  </main>
</Layout>
