---
import { type CollectionEntry, getEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

import ImageWrapper from "@/components/astro/ImageWrapper.astro";

export type LayoutData = CollectionEntry<"layout">;

const layoutEntry: LayoutData | undefined = await getEntry("layout", "layout");
if (!layoutEntry) {
  return new Response(null, { status: 404 });
}
const lang = Astro.currentLocale ?? "en";

const { navItems, footerItems, logo } = layoutEntry.data;
---

<header>
  <a href={getRelativeLocaleUrl(lang, "/")}>
    <ImageWrapper src={logo.image} altText="Deutz & Krüger Logo" />
  </a>
  <nav>
    {
      navItems.map((item) => {
        const { href, title } = item;
        return <a href={getRelativeLocaleUrl(lang, href)}>{title}</a>;
      })
    }
  </nav>
</header>
<slot />
<footer>
  {
    footerItems.map((item) => {
      const { href, title } = item;
      return <a href={getRelativeLocaleUrl(lang, href)}>{title}</a>;
    })
  }
</footer>
